ion-content {
    &.page-profile {
        .profile-image{
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }    
        
        .top-10px {
            margin-top: 10px;
        }
    }
}